<div id="content">

  <br><br>
  <h1 class = "ui header">Admin</h1>

  {{#ui-accordion }}
    <tbody>
        <button class = "ui primary button">Add Question</button><br><br>
        <button class = "ui primary button">Modify Question</button><br><br>
        <button class = "ui primary button">Manage Form</button>
    </tbody>
  {{/ui-accordion}}

</div>