<div id="content">
  {{add-question}}
  
  <br><br>

  {{#ui-accordion }}
    <tbody>
        <a class="ui primary button">{{#link-to 'questions'}}Modify Question{{/link-to}}</a>
        <br><br>
        <button class = "ui primary button">Manage Form</button>
    </tbody>
  {{/ui-accordion}}

</div>  