<div id="content">
  {{add-question}}
<<<<<<< HEAD
  {{manage-form}}

=======
  
>>>>>>> 96ec4f487947cebffb80767ebe415364f1b4c500
  <br><br>

  {{#ui-accordion }}
    <tbody>
<<<<<<< HEAD
        <button class = "ui primary button">Modify Question</button><br><br>
       
=======
        <a class="ui primary button">{{#link-to 'questions'}}Modify Question{{/link-to}}</a>
        <br><br>
        <button class = "ui primary button">Manage Form</button>
>>>>>>> 96ec4f487947cebffb80767ebe415364f1b4c500
    </tbody>
  {{/ui-accordion}}

</div>  