<<<<<<< HEAD
<div id="content">
  <br><br>

  {{#ui-accordion}}
    <tbody>
        <a class="ui primary basic button">{{#link-to 'questions'}}Manage Questions{{/link-to}}</a>
        <br><br>
        <a class = "ui primary basic button">{{#link-to 'forms'}}Manage Forms{{/link-to}}</a>
    </tbody>
  {{/ui-accordion}}

</div>  
=======
{{admin-welcome}}
{{outlet}}
>>>>>>> youda
