<div id="content">
  {{add-question}}
  

  <br><br>

  {{#ui-accordion}}
    <tbody>
        <a class="ui primary basic button">{{#link-to 'questions'}}Modify Question{{/link-to}}</a>
        <br><br>
        <a class = "ui primary basic button">{{#link-to 'forms'}}Manage Form{{/link-to}}</a>
        <br><br>
        <a class = "ui primary basic button">{{#link-to 'assesmentforms'}}Manage Assesment Tests{{/link-to}}</a>
    </tbody>
  {{/ui-accordion}}

</div>  