<div id="content">
  {{add-question}}

  <br><br>

  {{#ui-accordion }}
    <tbody>
        <button class = "ui primary button">Modify Question</button><br><br>
        <button class = "ui primary button">Manage Form</button>
    </tbody>
  {{/ui-accordion}}

</div>