<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">


{{#nav-bar}}{{/nav-bar}}

<div class="ui borderless fixed menu">
  <a class=" item">{{#link-to 'home'}}<img class="ui small image" src="assets/images/SelfStart_logo.png">{{/link-to}}</a>
  <a class="ui right item ">{{#link-to 'patients'}}PATIENT PROFILE{{/link-to}}</a>
  <a class="item">{{#link-to 'admin'}}ADMIN{{/link-to}}</a>
  <a class="item">{{#link-to 'rehabplans'}}REHAB PLANS{{/link-to}}</a>
  <a class="item"></a>
  <a class="item"></a>
  <a class="item"></a>
</div>


{{outlet}}

<div id="footer">

  <img class="ui medium centered image" src="assets/images/SelfStart+logo.png">
  <p> I am the footer, and you have scroll down to see me.</p>
</div>