<div id='content'>
    <h2> Forms </h2>
    <div class="ui grid">
    {{#each model as |form|}}   
        <div class="eight wide column">
        <li>{{form.name}} </li>
        </div>
        {{!-- <div class="four wide column right aligned">
        {{modify-form ID=form.id}}
        </div> --}}
        <div class="four wide column left aligned">
        {{delete-form ID=form.id}}
        </div>
    {{/each}}
    </div>
</div>

{{add-form}}

<br><br><br>
