<div id="wrapper">
  <div id="hero">
    <div class="header" >
      <h1> We are Self Start Body Smart </h1>
    </div>
  </div>

  <div id="content">
    <h2> Our Services</h2>
    <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
  </div>



    <div id="content-process">
      <h2> Our Process</h2>
      <br><br>
      <div class="ui centered grid">

        <div class="counter-box t-center">
          <p class="counter"><span>1</span></p>
          <h3>Book an Appointment</h3>
        </div>

        <div class="counter-box t-center">
          <p class="counter"><span>2</span></p>
          <h3>Email verification</h3>
        </div>

        <div class="counter-box t-center">
          <p class="counter"><span>3</span></p>
          <h3>Payment</h3>
        </div>

        <div class="counter-box t-center">
          <p class="counter"><span>4</span></p>
          <h3>Video Assessment</h3>
        </div>

        <div class="counter-box t-center">
          <p class="counter"><span>5</span></p>
          <h3>Recommendations</h3>
        </div>

        <div class="counter-box t-center">
          <p class="counter"><span>6</span></p>
          <h3>Follow-ups</h3>
        </div>
    </div>
  </div>

  <div id="content">
    <h2> Get In Touch</h2>
    <a class ="icon">
      <i class=" phone icon"></i>
      <i class="mail icon"></i>
      <i class="marker icon"></i>
    </a>
  </div>


</div>