<div id="wrapper">
  <div id="hero">
    <div class="header" >
      <h1> We are Self Start Body Smart </h1>
    </div>
  </div>
  <div id="content">
    <h2> Guiding your health & well–being.</h2>
    <p> Self Start Body Smart is an online physiotherapy service allowing people anywhere in the world to access experts in the field of orthopaedics & rehabilitation. </p>
  </div>
</div>