<div id="content">
  {{add-patient}}

  <br><br>
  <table class="ui compact table">
    <thead>
    <tr>
      <th>Patients</th>
      <th></th>
    </tr>
    </thead>

  {{#ui-accordion }}
    <tbody>
    {{#each model as |patient|}}
      <div class="title"> 
        <i class="dropdown large blue icon"></i>
        {{patient.givenName}} {{patient.familyName}}
      </div>
      <div class="content">
        {{patient.email}}
      </div>

    {{/each}}
    </tbody>
  {{/ui-accordion}}
  </table>

</div>