<div id='content'>
    <h2> Question List </h2>
    <div class="ui grid">
        
    {{#each model as |question|}}   
        <div class="four wide column">
        <label>{{question.questionText}}</label>
        </div>

        <div class="four wide column">
        <label>{{question.type}}</label>
        </div>

        <div class="four wide column right aligned">
        {{modify-question ID=question.id}}
        </div>
        
        <div class="four wide column left aligned">
        {{delete-question ID=question.id}}
        </div>
    {{/each}}
    </div>
</div>