

<div id="content">
  {{add-rehabplan}}
  <br><br>
  <div class="ui search">

      <input class="prompt" type="text" placeholder="Search Rehab plan">
      <i class="search icon"></i>

  </div>

  <br><br>
  <table class="ui compact table">
    <thead>
    <tr>
      <th>Rehab plans</th>
      <th></th>
    </tr>
    </thead>

    {{#ui-accordion }}
      <tbody>
      {{#each model as |Rehabplan|}}
        <div class="title">
          <i class="dropdown large blue icon"></i>
          {{Rehabplan.name}} {{Rehabplan.description}}
        </div>
        <div class="content">
          {{Rehabplan.goal}}
        </div>

      {{/each}}
      </tbody>
    {{/ui-accordion}}
  </table>

</div>