<div id="content">
  {{add-rehabplan}}

  <div class="ui search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search Rehab plan" >
      <i class="search icon"></i>
    </div>
  </div>

  <br><br>
  <table class="ui compact table">
    <thead>
    <tr>
      <th>Patients</th>
      <th></th>
    </tr>
    </thead>

    {{#ui-accordion }}
      <tbody>
      {{#each model as |Rehabplan|}}
        <div class="title">
          <i class="dropdown large blue icon"></i>
          {{Rehabplan.givenName}} {{Rehabplan.familyName}}
        </div>
        <div class="content">
          {{Rehabplan.email}}
        </div>

      {{/each}}
      </tbody>
    {{/ui-accordion}}
  </table>

</div>