
<div class="cd-button" {{action 'openModal'}}>
  <input type="submit" value="Add Province">
</div>


{{#ui-modal name="newProvince" class="small newProvince"}}

  <div class="header">
    Adding new Province
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Province Name</label>
        {{input type="text" cols="50" rows="1" value = name placeholder="add province"}}
      </div>

      <div class="field">

        <label>Country Name</label>
        {{#ui-dropdown class="search selection" onChange=(action "setCountryId")}}
          <div class="default text">Select a country</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each countries as |country|}}
              <div data-value="{{country.id}}" class="item">
                {{country.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>

    </div>
  </div>



  <div class="actions" style="padding:0; ">
    <div class="ui positive right" style="padding:1em; float:left; width: 50%; cursor: pointer; background: #35a785; color:white; text-align: center;">Save<i class="checkmark icon"></i></div>
    <div class="ui deny" style="padding:1em; float:left; width: 50%;  cursor: pointer; background: #b6bece; color:white; text-align: center;">Cancel</div>

  </div>



{{/ui-modal}}