<!--<div id="content">-->
  <!--<i id='clickable' class="plus square outline icon" {{action 'openModal'}}></i>-->

  <!--&lt;!&ndash;{{#ui-modal name="newCountry" class="newCountry" }}&ndash;&gt;-->

  <!--&lt;!&ndash;{{/ui-modal}}&ndash;&gt;-->
<!--</div>-->