<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/home-style.css">

<!--<style>-->
<!--.ui.visible.left.sidebar ~ .fixed,-->
<!--.ui.visible.left.sidebar ~ .pusher {-->
<!---webkit-transform: translate3d(260px, 0, 0); transform: translate3d(260px, 0, 0);-->
<!--}-->
<!--</style>-->


<div id="example" class="index pushable">

  <div class="full height">
    <div class="following bar">
      <div class="ui container">

        <div class="ui large secondary network menu inverted">
          <div class="item">
            <div class="ui logo shape">
              <div class="sides">
                <div class="active ui side">
                  {{#link-to 'admin'}}<img class="ui image" src="assets/images/home/Header.png">{{/link-to}}
                </div>
              </div>
            </div>
          </div>

          <div class="right menu inverted">
            <a href="../patients" class="item">Clients</a>
            <a  href="../exercises"class="item">Exercise</a>
            <a class="item">Forms</a>
            <a href="../manage-selections" class="item">Configure</a>
            <a class="item">Appointments</a>
            <a id="login" href="../" class="item">Log out</a>
          </div>
        </div>
      </div>
    </div>

    {{yield}}

  </div>
</div>