{{yield}}
<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/nav-style.css"> <!-- Resource style -->

<div class="cd-bouncy-nav-modal">

  <nav>
    <ul class="cd-bouncy-nav">
      <li><a id="patient">{{#link-to 'patients'}}Patient Info{{/link-to}}</a></li>
      <li><a id="country">{{#link-to 'manage-selections'}}Configure form{{/link-to}}</a></li>
      <li><a id="plan">{{#link-to 'rehabplans'}}Rehabilitation Plans{{/link-to}}</a></li>
      <li><a id="questions">{{#link-to 'questions'}}Questions{{/link-to}}</a></li>
      <li><a id="forms">{{#link-to 'forms'}}Forms{{/link-to}}</a></li>
      <!--<li><a href="#0">Category 1</a></li>-->
      <!--<li><a href="#0">Category 2</a></li>-->
      <!--<li><a href="#0">Category 3</a></li>-->
      <!--<li><a href="#0">Category 4</a></li>-->
      <!--<li><a href="#0">Category 5</a></li>-->
      <!--<li><a href="#0">Category 6</a></li>-->
    </ul>
  </nav>

  <a href="#0" class="cd-close">Close modal</a>
</div> <!-- cd-bouncy-nav-modal -->



