<div class="masthead segment bg3">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui inverted header">
        <span class="library">Client Page</span>
        <span class="library">{{message}}</span>
      </h1>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui center aligned grid">
      </div>
    </div>
  </div>
</div>
