{{!-- <div class = "ui button" {{action 'openModal'}} title="Delete"> --}}
  {{!-- <i class=" remove icon"> </i> --}}
  {{!-- Delete --}}
{{!-- </div> --}}

  <button style="min-width:1px" class="ui button" {{action 'openModal'}}>Delete</button>

{{!-- <div class="ui basic red button" {{action 'openModal'}}>Delete</div> --}}


{{#ui-modal name=modalName class=modalName}}
  <div class="ui icon header">
    <i class=" warning sign icon"></i>
    Please Confirm
  </div>
  <div class="content">
    <p>Are you sure you want to delete this exercise?</p>
  </div>
  <br>
  <div class="actions">
    <div class="ui red cancel inverted button">
      <i class = "remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
{{/ui-modal}}

{{yield}}