<button class = "ui icon red basic button" {{action 'openModal'}} title="Delete">
  {{!-- <i class=" remove icon"> </i> --}}
  Delete
</button>

{{#ui-modal name=modalName class=modalName}}
  <div >
    <i class=" warning sign icon"></i>
    Please Confirm
  </div>
  <div class="content">
    <p>Are you sure you want to delete this Image?</p>
  </div>
  <br>
  <div class="actions">
    <div class="ui red cancel inverted button">
      {{!-- <i class = "remove icon"></i> --}}
      No
    </div>
    <div class="ui green ok inverted button">
      {{!-- <i class="checkmark icon"></i> --}}
      Yes
    </div>
    <br><br>
  </div>
{{/ui-modal}}