<button class="ui mini circular labeled icon red button" {{action 'openModal'}} title="Delete">
  <i class="remove icon"></i>
  Delete
</button>

{{#ui-modal name= modalName class= modalName }}
  <div class="ui icon header">
    <i class="warning sign icon"></i>
    Delete question?
    <br><br><br>
  </div>

  <br><br><br><br><br>

  <div class="actions">
    <div class="ui right floated red cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
  
  <br><br>
{{/ui-modal}}