<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/home-style.css">

<!--<style>-->
  <!--.ui.visible.left.sidebar ~ .fixed,-->
  <!--.ui.visible.left.sidebar ~ .pusher {-->
    <!---webkit-transform: translate3d(260px, 0, 0); transform: translate3d(260px, 0, 0);-->
  <!--}-->
<!--</style>-->

<div id="example" class="index pushable">

    <div class="full height">
      <div class="following bar">
        <div class="ui container">

          <div class="ui large secondary network menu inverted">
            <div class="item">
              <div class="ui logo shape">
                <div class="sides">
                  <div class="active ui side">
                    {{#link-to 'home'}}<img class="ui image" src="assets/images/home/Header.png">{{/link-to}}
                  </div>
                </div>
              </div>
            </div>

            <div class="right menu inverted">
              <a class="item">About</a>
              <a class="item">How it Works</a>
              <a class="item">Services</a>
              <a class="item">Assessment</a>
              <a class="item">Blog</a>
              <a class="item">Contact</a>
              <a id="login" class="item">Log in</a>
            </div>
          </div>
        </div>
      </div>

      {{yield}}

    </div>
  </div>
