<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/home-style.css"> <!-- Resource style -->


<header class="cd-header">
  <div id="cd-logo"><a>{{#link-to 'home'}}Home{{/link-to}}</a></div>

  <nav class="cd-main-nav">
    <ul>
      <!-- inser more links here -->
      <li><a href="#0">About</a></li>
      <li><a href="#0">How it Works</a></li>
      <li><a href="#0">Services</a></li>
      <li><a href="#0">Assessment</a></li>
      <li><a href="#0">Blog</a></li>
      <a href="#0" >Contact</a>
    </ul>
  </nav> <!-- cd-main-nav -->
</header>
{{yield}}
