<div class="ui grid">
  <div class="computer only row">
    <div class="column">
      <div class="ui borderless fixed menu">
        <a class="main item">{{#link-to 'home'}}<img class="ui small image" src="assets/images/SelfStart_logo.png">{{/link-to}}</a>
        <a class="ui right item ">{{#link-to 'patients'}}PATIENT PROFILE{{/link-to}}</a>
        <a class="item">3</a>
        <a class="item">{{#link-to 'rehab-form'}}Intro Form{{/link-to}}</a>
        <a class="item">5</a>
        <a class="item">6</a>
      </div>
    </div>
  </div>

  <div class="tablet mobile only row">
    <div class="column">
      <div class="ui borderless stackable fixed menu">
        <a id="mobile_item" class="item" {{action 'toggle'}}><i class="large bars icon"></i></a>
      </div>
    </div>
  </div>

</div>

<div class="ui  pushable">
  <div class="ui borderless sidebar vertical menu">
    <a class="main item">{{#link-to 'home'}}<img class="ui small image" src="assets/images/SelfStart_logo.png">{{/link-to}}</a>
    <a class="ui right item ">{{#link-to 'patients'}}PATIENT PROFILE{{/link-to}}</a>
    <a class="item">3</a>
    <a class="item">4</a>
    <a class="item">5</a>
    <a class="item">6</a>
  </div>
</div>

  <div class="pusher">
      {{yield}}
  </div>
