<div class="ui segment">
  <h3>Questions: </h3>
  {{#each questions as |oneQuestion|}}
    <div class="ui grid">
      <div class="thirteen wide column">
        <li>{{oneQuestion.questionText}}</li>
      </div>
    </div>
  {{/each}}
</div>