<div class="ui segment">
  <h3>Questions: </h3>
  <br>
  {{#each questions as |oneQuestion|}}
    <div class="ui grid">
      <div class="fourteen wide column">
        <li>  {{oneQuestion.questionText}}</li>
      <div class="two wide column right aligned">
        <button {{action 'removeQuestion' oneQuestion thisForm oneQuestion.id thisForm.id}}>Remove</button>
      </div>
      </div>
    </div>
  {{/each}}
</div>