<div class="ui segment">
  <h3>Questions: </h3>
  {{#each questionOrder as |oneQuestion|}}
    <div class="ui grid">
      <div class="fourteen wide column">
        <li>  {{oneQuestion.question.questionText}}</li>
      </div>
    </div>
  {{/each}}
</div>