<div class="ui container" style="height: 150px;width: 1000px;padding-top: 50px;">
<div class="ui cards">
  <div class="card" style="max-width: 230px;">
    <div class="content">
      <div class="header">Documents</div>
      <!--<div class="meta">Friend</div>-->
    </div>
  </div>
  <div class="card" style="max-width: 230px;">
    <div class="content">
      <div class="header">Accounting</div>
      <!--<div class="meta">Friend</div>-->
    </div>
  </div>
  <div class="card" style="max-width: 230px;">
    <div class="content">
      <div class="header">Messages</div>
      <!--<div class="meta">Friend</div>-->
    </div>
  </div>

    <div class="card" style="max-width: 230px;">

      <div class="content">
        <a class="header" href="/practitioner/client-file">Client's Files</a>
        <div cl ass="meta">{{model.givenName}} {{model.familyName}}</div>
      </div>
    </div>

</div>
</div>