{{!-- <div class="ui container"> --}}
  {{upload-file 
    model = 'image'
    maximumFileSize = 6
    multiple=true
    flag = ImageIsAdding
    ImageName = iName
    newExerID = exerID
  }}
{{!-- </div> --}}













