<div id="content">
<div class="ui fluid raised very padded text container segment">
    <h2 class="ui fluid centered header">Login</h2>

   <form class="ui form">
        
        <div class="field">
            <label>Email</label>
            {{input type ="text" value=UName placeholder="User Name"}}
        </div>

        <div class="field">
            <label>Password</label>
            {{input type ="text" value=PWord placeholder="Password"}}
        </div>

    </form>
</div>

</div>

{{yield}}