<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/home-style.css"> <!-- Resource style -->

<!-- PRELOADER -->
<div id="preloader"><div><em></em><em></em><em></em><em></em></div></div>
<!-- //PRELOADER -->

<main class="cd-main-content">
  {{#admin-nav}}
  <div class="cd-fixed-bg cd-bg-1 demo" id="section01">
    <h1 id="logo-image"><img src="assets/images/home/Header.png" style="max-width: 50%;
  height: auto;
  width: auto\9;"></h1>
    {{#link-to 'appointment'}}
    <h1 id="button01">{{#stylish-button type="ujarak"  border="medium" shape="round-s" size="l" textWidth="thick" customClasses="btn-primary"}} Book Appointment {{/stylish-button}}</h1>
    {{/link-to}}
    <h1 id="button02">{{#stylish-button type="ujarak" border="medium" shape="round-s" size="l" textWidth="thick"}} Ask a Physio {{/stylish-button}}</h1>


    <a href="#section02"><span></span>Scroll</a>



    <section class="cd-section" style="cursor: pointer;">
      <ul class="cd-bouncy-nav-trigger">Admin</ul>
    </section> <!-- .cd-section -->


  </div> <!-- cd-fixed-bg -->
  {{/admin-nav}}



        <div class="cd-scrolling-bg cd-color-2 demo" id="section02">
      <div class="cd-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!
        </p>
      </div> <!-- cd-container -->
        <a href="#section03"><span></span>Scroll</a>
      </div> <!-- cd-scrolling-bg -->





  <div class="cd-fixed-bg cd-bg-2 demo" id="section03">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <a href="#section04"><span></span>Scroll</a>
  </div> <!-- cd-fixed-bg -->

  <div class="cd-scrolling-bg cd-color-3 demo" id="section04">
    <div class="cd-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!
      </p>
    </div> <!-- cd-container -->
    <a href="#section05"><span></span>Scroll</a>
  </div> <!-- cd-scrolling-bg -->

  <div class="cd-fixed-bg cd-bg-3 demo" id="section05">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <a href="#section06"><span></span>Scroll</a>
  </div> <!-- cd-fixed-bg -->

  <div class="cd-scrolling-bg cd-color-1 demo" id="section06">
    <div class="cd-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!
      </p>
    </div> <!-- cd-container -->
  </div> <!-- cd-scrolling-bg -->

  <a href="javascript:" id="return-to-top">
    <i class="icon-chevron-up"></i>
  </a>

</main> <!-- cd-main-content -->