.round-button {
  box-sizing: border-box;
  display:block;
  width:60px;
  height:60px;
  padding-top: 20px;
  padding-left: 4px;
  line-height: 20px;
  border-radius: 50%;
  text-align:center;
  text-decoration:none;
  background-color: dodgerblue;
  color:white;

  font-size:20px;
  font-weight:bold;
  transition: all 0.3s ease;
}
.round-button:hover {
  background-color: #0d71bb;
  color:white;
}

#add{
  position: fixed;
  bottom: 50px;
  right: 50px;
}



#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

