/*.following.bar .ui.container {*/
  /*width: 1400px;*/
/*}*/

.ui.divider {
  margin: 0.8rem 0rem !important;
}

#login {
  background: #efd469;
  color: darkslategrey !important;
  width: 100px;
  text-align: center;
}

#login:hover {
  background: #F0E68C;
  color: darkslategrey !important;
  width: 100px;
  text-align: center;
}

#client {
  background: #efd469;
  color: darkslategrey !important;

  text-align: center;
}

#client:hover {
  background: #F0E68C;
  color: darkslategrey !important;

  text-align: center;
}

.background{
  background-color: #e9ebee;
}

/*.ui.modal > .content {*/
  /*display: block;*/
  /*width: 100%;*/
  /*font-size: 1em;*/
   /*line-height: 0 !important;*/
   /*padding: 0rem !important;*/
  /*background: #FFFFFF;*/
/*}*/

/*@media only screen and (min-width: 1920px) {*/
  /*.ui.modal {*/
    /*width: 500px !important;*/
    /*text-align: center !important;*/
    /*margin: 0em 0em 0em -250px !important;*/
  /*}*/
/*}*/
